body {
  .big {
    position: static;

    .container {
      height: 400px;
      width: 400px;
      position: absolute;

      background-color: red;

      .small {
        height: 100px;
        width: 100px;
        position: absolute;
        background-color: white;
      }
    }
  }
}
p{
  align-self: center;
  justify-content: center;
  padding-left: 100px;
}
