body {
  background: white;

  .container {
    position: static;

    li {
      display: table;
      list-style: none;
      padding: 10px 13px;

      &.yell {
        color: blue;
      }


      a {
        padding: 9px;
        color: black;
        &.read {
          color: red;
        }


      }
    }
  }
}
