body {
  color: black;

  div {
    height: 200px;
    width: 200px;

    &.first {
      background-color: red;
      border: 2px solid black;
    }

    &.second {
      background-color: blue;
      border: 2px solid black;
    }

    &.third {
      background-color: yellow;
      border: 2px solid black;
    }
    &.newpos{
position: absolute;
z-index: 2;


    }
  }
}
