body {
  color: white;
  min-height: 500px;

  .container {
    width: 100%;
    left:0px;
    rop:0px;

    h1 {
      text-align: center;
    }
    .button{
      position: absolute;
      color:#000;
    }

  }
}
