body {
  background: #1d1f20;
  color: white;

  .container {
    width: 100%;

    h1 {
      text-align: center;
    }

    .button-container {
      position: absolute;
      width: 150px;
      margin: 100px auto 0;
      z-index: 2px;

      .button {
        width: 150px;
        height: 45px;
      }
    }
  }
}
