body {
<<<<<<< HEAD
  background: #f000;
=======
>>>>>>> 4d6de5ce03b548dde246d13863f1ef487cbbc72e
  color: white;
  min-height: 500px;

  .container {
    width: 100%;
    left:0px;
    rop:0px;

    h1 {
      text-align: center;
    }
<<<<<<< HEAD


      .button {
        width: 150px;
        height: 45px;
        position:absolute;
        z-index: 2px;
        padding: 0;
=======
    .button{
      position: absolute;
      color:#000;
>>>>>>> 4d6de5ce03b548dde246d13863f1ef487cbbc72e
    }

  }
}
